{% extends 'base.html' %}

{% block content %}
  <h1>Crear estudiante</h1>
  <form method="post">
    {% csrf_token %}
      <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" name="dni" required>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>
        <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>
        <div class="mb-3">
            <label for="carrera" class="form-label">Carrera</label>
            <select class="form-select" id="carrera" name="carrera" required>
                <option value="">Seleccione una carrera</option>
                <option value="ingenieria">Ingeniería</option>
                <option value="matematicas">Matemáticas</option>
                <option value="fisica">Física</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}
