{% extends 'base.html' %}

{% block content %}
  <h1>Lista de estudiantes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de nacimiento</th>
        <th>Carrera</th>
      </tr>
    </thead>
    <tbody>
      {% for estudiante in estudiantes %}
        <tr>
          <td>{{ estudiante.dni }}</td>
          <td>{{ estudiante.nombre }}</td>
          <td>{{ estudiante.apellido }}</td>
          <td>{{ estudiante.fecha_nacimiento }}</td>
          <td>{{ estudiante.carrera }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
